/*main colors:
#ff325b
#34403a
#00ffc5
#dced31
#2d3047
*/
:root{
--red: #ff325b;
--gray: #34403a;
--blue: #00ffc5;
--green: #dced31;
--gun: #2d3047;
}

.background{
  background: white;
  vertical-align: middle;
}
.title{
  position: relative;
  background: var(--red);
  top: 20%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
.main-body{
  position: relative;
  top: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.border{
  border-radius: 10px;
  box-shadow: 0px 0px 10px black

}
p.normal-text{
  font-family: "Nunito";
  font-size: 120%;
  margin: 2%;
}
.menu-bar{
  background: var(--gun)
}
h1{
  font-size: 250%;
}
