/*main colors:
#ff325b
#34403a
#00ffc5
#dced31
#2d3047
*/
:root{
--red: #ff325b;
--gray: #34403a;
--background: #343a40;
--blue: #00ffc5;
--green: #dced31;
--gun: #2d3047;
--word-color: #8500b9;
}

.background{
  background: var(--background);
  background-image: url("../images/star background but dull.png");
  background-repeat: repeat;
  vertical-align: middle;
}
.title{
  position: relative;
  background: black;
  
  border-color: #ff325b;
  border-width: 3px;
  border-style: double;
  top: 20%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  color: white;
}
.main-body{
  position: relative;
  top: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 10px;
  background-color: black;
  background-image: url("../images/star background but duller.png");
  background-repeat: repeat;
  border-color: #00d9ff;
  border-width: 3px;
  border-style: double;
}
.border{
  border-radius: 10px;
  box-shadow: 0px 0px 10px black

}
p.normal-text{
  font-size: 120%;
  margin: 2%;
  color: white;
}

p {
  font-family: "Ubuntu";
  font-weight: 300;
}

.navbar{
  background-color: black;
  background-image: url("../images/samus helmet but dull.png");
  background-repeat: repeat-x;
}
h1{
  font-size: 250%;
}

.subtitle {
  color: white;
}

.word-tracker-image {
  border-radius: 5px;
}

a.hyper-link {
  color: #00a2ff !important
}