.main {
    background-color: #ffffff;
    color: #202020;
}
.navbar-blue {
    background-color: #6b6b6b;
}

.main-item {
    /*border-radius: 5px;
    box-shadow: #131518 0px 0px 3px;*/
    padding-top: 2em;
    font-size: large; 
}

h1 {
    text-align: center;
    padding-bottom: .2em;
    font-size: 3em !important;
}
p {
    padding-left: 1em;
    padding-right: 1em;
}

h4 {
    padding-top: .5em;
}

button {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(223, 11%, 12%);
    overflow: hidden;
    transition: color 0.4s ease-in-out;
  }
  
  button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 100%;
    right: 100%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: hsl(204, 54%, 50%);
    transform-origin: center;
    transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
  }
  
  button.submit-button:hover {
    cursor: pointer;
    color: #161616;
  }
  
  button.submit-button:hover::before {
    transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
  }
  
.see {
    font-size: larger;
    text-decoration: none;
}

.logo {
    height: 64px;
    width: 64px;
}

nav {
    font-size: larger;
}

.welcome-image {
    height: 25%;
    width: 25%;
    margin-top: 1em;
    margin-bottom: 2em;

}

.intro {
    font-size: 20px;
}

footer {
    background-color: #6b6b6b;
    text-align: center;
    padding-bottom: .5%;
    padding-top: 1%
}